<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <form method = 'post' th:action="@{/user/add}">
        <label>
            Username:
            <input type = 'text' name = 'username' th:value="${username}">
        </label>

        <label>
            Email:
            <input type = 'email' name = 'email' th:value="${email}">
        </label>

        <label>
            Password:
            <input type = 'password' name = 'password'>
        </label>

        <label>
            Verify Password:
            <input type = 'password' name = 'verify'>
        </label>

        <div th:text="${error}"></div>

        <input type = 'submit' value = 'Sign Up'>
    </form>

</body>
</html>