<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>My Profile</h2>
    <p th:text="${name}"></p>
    <p th:text="${skintype}"></p>
    <p th:text="${manipedi}"></p>
</div>
<div id = "servicesMenu">
    <table>
        <tr><th>Appropriate Facials</th></tr>
            <th:block th:each="fac : ${appropriateFacials}">
                <tr>
                <td th:text="${fac}"></td>
                </tr>
            </th:block>
    </table>
    <th:block th:if="${manipedi} == 'manicure'">
         <h3>Manicure</h3>
         <p th:replace="fragments :: manicureDescription"></p>
    </th:block>
    <th:block th:if="${manipedi} == 'pedicure'">
        <h3>Pedicure</h3>
        <p th:replace="fragments :: pedicureDescription"></p>
    </th:block>
</div>
</body>
</html>