 <!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>My Profile</h2>
    <p th:text="${name}"></p>
    <p th:text="${skintype}"></p>
    <p th:text="${manipedi}"></p>
</div>
<div id = "servicesMenu">
    <div>
        <h3>Facial Treatments</h3>
        <p>Our esteticians reccomend the following for your skin type:</p>

        <table>
            <th:block th:each="service : ${appropriateFacials}">
                <tr>
                    <td th:text="${service}"></td>
                </tr>
            </th:block>

        </table>
    </div>
    <div th:if="${manipedi.equals('manicure')} or ${manipedi.equals('both')}">
        <h3>Manicure</h3>
        <p th:replace="~{fragments :: manicureDescription}"></p>
    </div>
    <div th:if="${manipedi.equals('pedicure')} or ${manipedi.equals('both')}">
        <h3>Pedicure</h3>
        <p th:replace="~{fragments :: pedicureDescription}"></p>
    </div>
</div>

<footer>
    <div>Choose a color for your manicure or pedicure </div>
    <div th:each = "option : ${polishChoices}">
        <div th:style = "'background: ' + ${option}"></div>
    </div>
</footer>
</body>
</html>