<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Select Your Spa Services</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
    <form method = 'post'>

        <label>
            Skin type:
            <select name = 'skintype'>
                <option value = 'oily'>Oily</option>
                <option value = 'combination'>Combination</option>
                <option value = 'normal'>Normal</option>
                <option value = 'dry'>Dry</option>
            </select>
        </label>
        <label>
            Manicure or Pedicure?
            <select name = 'manipedi'>
                <option value = 'manicure'>Manicure</option>
                <option value = 'pedicure'>Pedicure</option>
            </select>
        </label>
        <input type = 'submit' value = 'Submit'>
    </form>
</body>
</html>